.collapse {
  margin-bottom: 10px;

  &__heading {
    cursor: pointer;
    padding: 15px;
    background-color: $white;
  }

  &__content {
    overflow: hidden;
    padding: 15px;
    background-color: $white;
    border-top: 1px solid $border-color;
    transition: all .35s ease;

    &.active {
      height: auto;
    }
  }
}
