.main-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  min-height: calc(100vh - 144px);

  &__inner {
    padding: 30px;
  }
}

.basic-content {
  padding: 30px 0;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: $body-bg;
  overflow-y: auto;

  &__container {
    padding: 30px;
  }

  &__heading {
    margin: 0 0 30px;
    padding: 20px 0;
    text-transform: uppercase;
  }
}
