$white: #fff;
$black: #000;
$red: #d01919;
$orange: #f2711c;
$yellow: #eaae00;
$olive: #8d9e13;
$green: #21ba45;
$teal: #00b5ad;
$blue: #2185d0;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673f;
$grey: #767676;
$nocolor: transparent;

$color-primary: #1abbac;
$text-color: #333;
$body-bg: #f8f8f8;
$border-color: #e5e5e5;

$button-color: #000;
$button-bg: #fff;
$button-border: #e5e5e5;
$button-active: #dedede;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family: 'Roboto';
$font-icon: 'FontAwesome';
$font-size: 14px;
$line-height: 22px;
