$white: #fff;
$black: #000;

$color-primary: #1abbac;
$text-color: #333;
$body-bg: #f8f8f8;
$border-color: #e5e5e5;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family: 'Roboto';
$font-icon: 'FontAwesome';
$font-size: 14px;
$line-height: 22px;
